nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 30px 0 30px;
    overflow: hidden;
    background-color: #4c97ca;
    font-size: 26px;
    font-weight: bolder;
    letter-spacing: 2px;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    text-decoration: none;
}