table {
    width: 100%;
    margin-top: 10px;

    border-spacing: 0;

    border: 1px solid #278bc4;
    border-radius: 3px;
}

table th {
    color: #fff;
    background: #278bc4;
}

table td {
    font-size: 16px;
}

table th,
table td {
    margin: 0;
    padding: 10px;
    border: lightgrey 1px solid;
}

table tr:nth-child(even) {
    background: #edf3f7;
}

table th.action-column {
    background: rgb(203, 75, 70);
}



.shows-cell1,
.shows-cell4,
.shows-cell6{
    text-align: left;
    width: 15%;
}


.shows-cell2,
.shows-cell3,
.shows-cell5 {
    text-align: right;
    width: 12%;
}



