{% extends 'index.html' %}
{% block content %}
    <div class="card detailed-view">
        <div class="row">
            <div class="trailer col col-third">
                {% if one_show['trailer'] %}
                    <iframe src="{{ one_show['trailer'] }}" frameborder="0" width="560" height="315"></iframe>
                {% else %}
                    <span>We do not have trailer for series. Maybe you can add one?</span><br>
                    <span>..but there is some fine tune below for you</span>
                    <iframe src="https://www.youtube.com/embed/qG8iAtpavK4" frameborder="0" width="560"
                            height="315"></iframe>
                {% endif %}
            </div>
            <div class="col col-twothird">
                <h2>{{ one_show['title'] }}</h2>
                <p class="small grayed">{{ one_show['runtime'] }} min.<span
                        class="separator">|</span> {{ one_show['genres'] if one_show['genres'] else 'genre unknown' }}
                    <span
                            class="separator">|</span> {{ one_show['year'] | int }}</p>
                <p>{{ one_show['overview'] }}</p>
                {% if actors %}
                    <div>
                        <p><b>Stars:</b>&nbsp;
                            {% for actor in actors %}
                                <a href="/actor/{{ actor['id'] }}">{{ actor['name'] }}{{ ", " if not loop.last }}</a>
                            {% endfor %}
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% if seasons %}
        {% include 'seasons.html' %}
    {% endif %}
{% endblock %}
