{% extends 'index.html' %}
{% block content %}
<div class="card">
    <div>
        <button id="shows-pagination-previous" disabled>Previous</button>
        <button id="shows-pagination-next">Next</button>
    </div>

    <table>
        <thead>
        <tr>
            <th data-sort-by="title">
                <button class="sort">
                    <i class="fas fa-sort-up"></i>
                </button>
                Title
                <button class="sort">
                    <i class="fas fa-sort-down"></i></button>
            </th>
            <th data-sort-by="year">
                <button class="sort"><i class="fas fa-sort-up"></i></button>
                Release year
                <button class="sort"><i class="fas fa-sort-down"></i></button>
            </th>
            <th data-sort-by="runtime">
                <button class="sort"><i class="fas fa-sort-up"></i></button>
                Runtime
                <button class="sort"><i class="fas fa-sort-down"></i></button>
            </th>
            <th>Genre</th>
            <th data-sort-by="rating">
                <button class="sort"><i class="fas fa-sort-up"></i></button>
                Rating
                <button class="sort"><i class="fas fa-sort-down"></i></button>
            </th>
            <th>HomePage</th>
            <th>Trailer</th>
        </tr>
        </thead>
        <tbody id="shows-table-body">

        </tbody>
    </table>
</div>
{% endblock %}