<div>
    <button id="shows-pagination-previous" disabled>Previous</button>
    <button id="shows-pagination-next">Next</button>
</div>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Release year</th>
        <th>Runtime</th>
        <th>Genre</th>
        <th>Rating</th>
    </tr>
    </thead>
    <tbody id="shows-table-body">
{#    {% for show in all_shows %}#}
{#        <tr>#}
{#            <td><a href="/show/{{show['id'] }}">{{ show['title'] | title }}</a></td>#}
{#            <td>{{ show['year'] | int }}</td>#}
{#            <td>{{ show['runtime'] }} min.</td>#}
{#            <td>{{ show['genre_name'] }}</td>#}
{#            <td>{{ show['rating'] }}</td>#}
{#        </tr>#}
{#    {% endfor %}#}
    </tbody>
</table>
