{% extends 'index.html' %}

{% block content %}
<div class="card">
    <table>
        <thead>
        <tr>
            <th>Actor's name</th>
            <th>Shows with actor</th>
        </tr>
        </thead>
        <tbody>
        {% for actor in actors_with_shows %}
        <tr>
            <td><a class="actor" data-actor-id="{{ actor['id']}}" href="#">{{ actor['name'] }}</a></td>
            <td>{{ actor['string_agg'] }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
 <div id="actor-details-modal" class="modal-container">

 </div>
{% endblock %}